.ic-header {
	padding: 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 250px;
		background-image: linear-gradient(to bottom, #000 0%, transparent 100%);
		z-index: -1;
		opacity: .85;
		pointer-events:none;
	}

	@if $fixedHeader {
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		z-index: 100;
	}

	@include bp($m) { padding: 40px; }
}

.mobile-menu-button {
	width: 25px;
	height: 16px;
	cursor: pointer;
	transition: border-color $speed $easing;
	@include z(mobile-menu-button);
	position: relative;

	&:before,
	&:after,
	span {
		content: '';
		width: 100%;
		height: 2px;
		background: #888;
		position: absolute;
		left: 0;
		transition: all $speed $easing;
		transform-origin: center;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	span {
		top: 50%;
		transform: translateY(-50%);
	}

	@include bp($ml) {
		display: none;
	}

	&.open {

		&:before {
			transform: rotate3d(0,0,1, 45deg) translateY(-50%);
			top: 50%;
		}

		&:after {
			transform: rotate3d(0,0,1, -45deg) translateY(50%);
			bottom: 50%;
		}

		span {
			opacity: 0;
		}
	}
}
