.mod--prizes {
	padding: 60px 0;
	text-align: center;

	@include bp($m) {
		padding: 100px 0;
	}

	&__headline {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 40px;
		color: $lightGray;
	}

	.column-container {
		@include pxcols(44px, 44px);

		margin-bottom: 50px;

		.column {
			&__content {
				background-color: $lightGray;
				color: $gray;
				padding: 40px;
				text-align: center;
				border-radius: 3px;
				height: 100%;
				position: relative;

				&:before {
					content: '';
					display: block;
					width: 100%;
					padding-bottom: 42%;
					margin-bottom: 65px;
				}

				svg {
					width: 100%;
					position: absolute;
					top: 40px;
					left: 0;
					right: 0;

					path {
						fill:none;
						stroke: $purple;
						stroke-miterlimit:10;
						stroke-dasharray: 1800px;
						stroke-dashoffset:1800px;

						&.animated {
							animation:draw 5s ease forwards;
						}
					}
				}

				h3 {
					color: $almostBlack;
					font-weight: 900;
					font-size: 21px;
					margin-bottom: 40px;
				}

				p {
					color: $almostBlack;
					font-size: 18px;
					font-weight: 300;
				}
			}

			@include bp($m) {
				&:nth-child(2) .column__content svg path { animation-delay: .5s }
				&:nth-child(3) .column__content svg path { animation-delay: 1s }
			}
		}
	}
}