.mod--projects {
	padding: 100px 0;

	.projects {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-auto-rows: 10px;

		@include bp($m) {
			grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
		}

		&--list {
			display: block;

			.project {
				margin-bottom: 40px;

				&:last-child { margin-bottom: 0; }

				@include bp($m) {
					.content {
						display: flex;
						flex-flow: row nowrap;

						.project__figure {
							min-width: 23%;
							padding-bottom: 23%;
							background-size: contain;

							&--strive { background-color: #82a5c8; }
							&--thorn { background-color: #ff7463; }
							&--onehope { background-color: #4ac9d7; }
							&--prime { background-color: #019bdf; }
						}
					}
				}
			}
		}

		.project {
			&__figure {
				padding-bottom: 42.16%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			&__content {
				background-color: $darkGray;
				font-size: 18px;
				color: $lightGray;
				padding: 25px;

				p {
					margin-bottom: 1em;
					line-height: 1.66;

					a {
						text-decoration: underline;
						color: inherit;
					}
				}
			}
		}
	}
}