.mod-line-bg {
	padding: 170px 0 270px;
	background-image: url(../img/line-man.svg);
	background-size: 100% auto;
	background-position: bottom right;
	background-repeat: no-repeat;

	.container {
		max-width: 570px;
	}

}