.mod-header {
	height: 100vh;
	min-height: 100vh;
	background: $purple;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@if $fixedHeader { // $fixedHeader set in _vars.scss
		padding-top: $mobile-header-height;
		@include bp($m) {
			padding-top: $desktop-header-height;
		}
	}

	.left-column {
		max-width: 570px;
	}

	&--bg {
		background-image: linear-gradient(to right, rgba($purple, .3) 0%, transparent 100%), url(../img/nyc-fence-small.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	h1 { text-transform: uppercase; }

}