.mod-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 200px 0 95px 0;
	height: 500px;
	overflow: visible;

	.container {
		overflow: visible;
	}

	.background {
		height: 500px;
	}

	&.full {
		height: 100vh;
		height: 100vh;
		padding: 0;

		.background {
			height: 100vh;
		}
	}

	.left-column {
		max-width: 570px;

		@include bp($m){
			padding-left: 30px;
		}
	}

	&--bg {
		position: relative;

		.background {
			position: absolute;
			z-index: 0;
			width: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(to right, rgba($purple, .3) 0%, transparent 100%), url(../img/nyc-fence-small.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transform: translate3d(0,0,0);

			z-index: -1;
			position: fixed;

			@include bp($m){
				background-position: center !important;
			}
		}
	}

	h1 {
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	p {
		font-size: 21px;
		line-height: 1.52;
	}

	strong {
		text-decoration: underline;
	}

}
