.mod--leaderboard {
	padding: 40px 0 60px;

	> .container {
		overflow: hidden;
	}

	@include bp($m) {
		padding: 80px 30px 160px;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 1em;
	}

	.columns {
		display: flex;
		flex-direction: column;
		margin: 0 -20px;

		@include bp($m) {

			flex-direction: row;
		}
	}

	.column {
		margin: 20px;

		.column__text {
			line-height: 1.8;

			@include bp($m){
				max-width: 460px;
				float: right;
			}
		}
	}

	@include bp($m) {
		.column {
			width: 50%;
		}
	}

	.leaderboard {
		background: #fff;
		border-radius: 5px;
		overflow: hidden;

		display: flex;
		flex-direction: column;

		&__header {
			padding: 10px 50px;
			background: #ccc;
			color: $darkGray;

			h3 {
				margin: 0;
				font-size: 18px;
			}
		}

		&__content {
			ul {
				display: block;

				li {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					padding: 30px 0;
					border-bottom: 1px solid #b4b4b4;

					&:last-child { border-bottom: 0; }

					.number { padding: 0 50px; }
					.logo-leaderboard {
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						padding-bottom: 10%;
						width: 80%;
						margin: 0 auto;

						&--stanford { background-image: url(../images/stanford.png); }
						&--waterloo { background-image: url(../images/waterloo.png); }
						&--wharton { background-image: url(../images/wharton.png); }
						&--berkeley { background-image: url(../images/berkeley.png); }
						&--georgia-tech { background-image: url(../images/georgia-tech.png); }
						&--columbia { background-image: url(../images/columbia.png); background-size: 325px; }
					}
				}
			}
		}

		&__content--temp {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 40px 0;
			height: 360px;
		}

		.temp {
			position: relative;
			padding-top: 80px;
			text-align: center;
			max-width: 230px;
			margin: 0 auto;

			&:before {
				content: '';
				position: absolute;
				top: 0; left: 50%;
				width: 60px;
				height: 60px;
				transform: translate(-50%, 0%);
				background: url(../img/icon-trophy.svg) no-repeat center;
				background-size: 100%;
				border: none;
			}

			.check-back {
				font-size: 17px;
				font-style: italic;
				line-height: 1.6;
			}

		}

		&__content {
			color: $darkGray;
		}
	}
}
