.mod--panel-members {
	padding: 100px 0;

	.panel {
		position: relative;
		@include pxcols(30px, 30px, 2);

		@include bp($m) { padding: 50px; }

		.cover-link {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}

		&__member {
			display: flex;
			flex-flow: row nowrap;
			min-width: 50%;
			transition: .45s ease;

			&:hover {
				cursor: pointer;
				z-index: 1000;
				transform: scale(1.05) translateY(-10px);
				box-shadow: 30px 30px 35px rgba(#000, .25);
			}

			figure {
				width: 48%;
				min-height: 320px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			.content {
				background-color: $darkGray;
				flex: 1;
				padding: 25px;

				h2 {
					font-weight: 300;
					color: $lightGray;
					font-size: 36px;
				}

				p {
					font-size: 16px;
					color: $gray;
					font-weight: 300;
					line-height: 1.55;
				}
			}
		}
	}
}
