
// Breakpoints
$xl: 1500px;
$l: 1200px;
$m: 960px;
$s: 600px;

$fixedHeader: true;

// Header Height
$desktop-header-height: 100px;
$mobile-header-height: 50px;

// Line Height
$line-height: 1.6;

// Animation
$speed: 300ms;
$speed-slow: 600ms;
$easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// Colors
$purple: #7F14EC;
$darkPurple: #2F015D;
$blue: #3fa2f7;
$gray: #888;
$lightGray: #D8D8D8;